#main{
  min-height: 100vh;
}

#calculator-container{
  background-color: #778899;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screen-container{
  background-color: #2e3c4b;
  min-height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#screen{
  max-height: 3vw;
  min-height: 3vw;
  border-radius: 5%;
  color: white;
}

#story{
  max-height: 2vw;
  min-height: 2vw;
  border-radius: 5%;
  color: white;
}

#buttons-container{
  background-color: lightslategray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-buttons{
  display: flex;
  flex-direction: column;
}

#numeric-buttons{
  margin: 0;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#action-buttons{
  margin: 0;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  min-width: 5vw;
  min-height: 5vw;
}
