* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303841;
  font-family: serif, sans-serif;
  font-size: 10px;
  line-height: 1.3;
  color: white;
}

#navbar {
  background-color: #be3144;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vw;
}

li {
  list-style: none;
}

.nav-item {
  color: white;
  text-decoration: none;
  height: 10vw;
  font-size: 2em;
  padding: 0 2vw;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#title {
  font-size: 5em;
}

#subtitle {
  font-size: 1.8em;
  font-style: italic;
}

#projects-section {
  background-color: #45567d;
  padding: 2vw;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.projects-header {
  text-align: center;
  margin: 5vw auto 3vw auto;
  padding: 0 0 1.6vw 0;
  color: white;
  max-width: 80vw;
  border-bottom: 0.15em solid white;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 2vw;
}

.project {
  background-color: #262e2f;
  padding: 0.5vw;
  text-decoration: none;
}

.project-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background-color: white;
}

.project-title {
  color: white;
  text-align: center;
  font-size: 1.3em;
}

.btn-ver-mas {
background-color: #262e2f;
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  padding: .8vw 1.5vw;
  border-radius: 2px;
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
}

#title2 {
  font-size: 5em;
}

#subtitle2 {
  font-size: 1.8em;
  font-style: italic;
}

.contact-links {
  padding: 3vw 0;
}

.btn-contact {
  padding: 0 2vw;
  font-size: 2em;
  color: white;
}

footer {
  border-top: #be3144 solid 2px;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footer, .copy-footer {
  font-size: 1.5em;
  padding: 0 2vw;
}

.p-footer{
  width: 80vh;
}

.copy-footer {
  text-align: right;
  width: 20vh;
}

@media (max-width:800px) {
  #navbar, .nav-list{
    height: 13vw;
  }
  .project-title {
    font-size: 1.8em;
  }
  .contact-links {
    padding: 3vw 6vw;
  }
}
