* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: sans-serif, serif;
  font-size: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
}

img {
  background-color: green;
  max-width: 40vw;
}

#navbar ul {
  width: 50vw;
  height: 5vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.navbar-item {
  color: grey;
  text-decoration: none;
  font-size: 1.5em;
}

footer {
  background-color: lightblue;
  width: 100%;
  height: 5vw;
  text-align: right;
  font-size: 1.2em;
  padding-bottom: 4px;
}

footer ul {
  background-color: purple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4vw;
}

.footer-item {
  background-color: pink;
  margin: 0 1vw;
  font-size: 1.3em;
  text-decoration: none;
  color: grey;
}

#hero {
  background-color: blue;
  margin-top: 5vw;
  padding: 3vw 0;
  text-align: center;
  font-size: 1.3em;
}

input{
  margin: 2vw 0;
}

#features {
  background-color: orange;
  margin: 5vw auto;
}
.description{
  background-color: yellow;
  font-size: 1.4em;
  max-width: 70vw;
  margin: 3vw auto;
  line-height: 1.3;
}

#how-it-works{
  text-align: center;
  max-width: 60vw;
}

#pricing{
  background-color: cyan;
  width: 80vw;
  margin: 2vw auto;
  display: flex;
  justify-content: space-around;
}
.product-card{
  background-color: white;
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
}

.product-card ol{
  padding: 2vw;
}

button, h2{
  margin: 1vw 0;
}
.title-card{
  margin:0;
padding: 1vw;
background-color: orange;
}

button{
  background-color: darkorange;
  padding: 1vw;
  border: none;
}

@media (max-width: 800px){
  body{
    background-color: black;
  }
}
