* {
  margin: 0;
  padding: 0;
}

#main{
  background-color: #EFE1BF;
}

#header {
  background-color: #9B7350;
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 10vh;
}

#forms-container {
  background-color: #DAB997;
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 5vh;
}

#to-do-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 85vh;
}


.size-aside-l {
  width: 25vw;
}

.size-aside-r {
  width: 75vw;
}


#projects-container {
  border-right: 0.5vh black solid;
}

#tasks-container {}

.card-project{  
  background-color: #1B402F;
  display: flex;
  flex-direction: row;
  justify-content: right;

  margin: 1vh 1vh;
  color:ghostwhite;

  border: 0.5vh #40c082 solid;
}

.delete-project{
  background-color: red;
  width: 5vw;
  padding: 2vh 0;
  text-align: center;
}

.content-project{
  width: 20vw;
  padding: 2vh 0;
  margin: 0 1vh; 
  text-align: left;
}

.card-task{
  background-color: #285C43;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1vh 1vh;
  padding: 2vh;
  color:ghostwhite;
  
  border: 0.5vh #40c082 solid;
}

.card-project-select{
  background-color: #40c082;
  color:black;
  border: 0.5vh #285C43 solid;
}

.card-task-low{
  background-color: #285C43;
}

.card-task-medium{
  background-color: #c2b012;
}

.card-task-high{
  background-color: #8b0a0a;
}
