* {
  margin: 0;
  padding: 0;
}

#container {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}



#grid-container {
  background-color: silver;
  width: 80vh;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.box {
  margin: 0.1vh;
  background-color: white;
  float: left;
  border-radius: 2px;
}